In [2]:
import pandas as pd
import os
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
import spacy
from spacy.lang.en.examples import sentences

In [3]:
#csv파일 읽기
Main_df=pd.read_csv('C:/Users/effor/바탕 화면/통브라운/TongBrown/main_df1.csv')

In [4]:
Main_df.head()

,Unnamed: 0,title,view,u_date,link,e_date
0,0,Baek Jong won also gave up budget market Kookb...,100000.0,2주 전,https://youtube.com/watch?v=d75b3-isnUo&pp=ygU...,20230527
1,1,If you do not know you will only lose money ...,22000,202305,https://youtube.com/watch?v=DvkKea1sAME&pp=ygU...,202305
2,2,22 year old consumer complaint bank,14000,202305,https://youtube.com/watch?v=_XuWgmvUx9s&pp=ygU...,202305
3,3,My Child s Rich Making Project Shinhan My Juni...,160000,202305,https://youtube.com/watch?v=Xl4AcHeVd_Q&pp=ygU...,202305
4,4,Google YouTube and other profits What kind of ...,690000,202305,https://youtube.com/shorts/3BIY24gWNoQ,202305

In [5]:
#열마다 추출
titles = list(Main_df['title'])
view = list(Main_df['view'])
u_date = list(Main_df['u_date'])
link = list(Main_df['link'])
e_date = list(Main_df['e_date'])

nlkt_tokenize

In [6]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\effor\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [7]:
#### 어간 추출 ####
# a = word_tokenize(doc.text)
from nltk.stem import PorterStemmer, LancasterStemmer, RegexpStemmer

In [8]:
porter_stemmer, lancaster_stemmer = PorterStemmer(),LancasterStemmer()

In [9]:
# print("PorterStemmer 사용하여 어간추출")
# print(porter)

# lancaster = [lancaster_stemmer.stem(i) for i in a]
# print("LancasterStemmer 사용하여 어간추출")
# print(lancaster)

# regexp_stemmer = RegexpStemmer("Apple") # ()안 특정 표현식 일괄 제거
# regexp = [regexp_stemmer.stem(i) for i in a]
# print("RegexpStemmer 사용하여 특정 단어 제거")
# print(regexp)

In [39]:
from nltk.tag import pos_tag
import nltk
ps = PorterStemmer()
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\effor\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [20]:
sentence = "Emma refused to permit us to obtain the refuse permit"
tagged_list = pos_tag(word_tokenize(sentence))
tagged_list

[('Emma', 'NNP'),
 ('refused', 'VBD'),
 ('to', 'TO'),
 ('permit', 'VB'),
 ('us', 'PRP'),
 ('to', 'TO'),
 ('obtain', 'VB'),
 ('the', 'DT'),
 ('refuse', 'NN'),
 ('permit', 'NN')]

In [40]:
Word=[]
View=[]
U_date=[]
Link=[]
E_date=[]
Par=[]
i=0

for title in titles:
    tag_list = pos_tag(word_tokenize(title))
    for tl in tag_list:
        doc=tl[0]
        par=tl[1]
#         porter = [porter_stemmer.stem(i) for i in doc]
        por = ps.stem(doc)
        Word.append(por)
        Par.append(par)
        View.append(view[i])
        U_date.append(u_date[i])
        Link.append(link[i])
        E_date.append(e_date[i])
    i = i+1

In [41]:
newdic = {'WORD' : Word, 'PART' : Par, 'VIEW' : View, 'U_DATE' : U_date, 'LINK' : Link, 'E_DATE' : E_date}

In [42]:
N_df = pd.DataFrame(newdic)

In [58]:
essendic = {'word':Word, 'part':Par,'link':Link}

In [60]:
essen_df = pd.DataFrame(essendic)

In [43]:
N_df

,WORD,PART,VIEW,U_DATE,LINK,E_DATE
0,baek,NNP,100000.0,2주 전,https://youtube.com/watch?v=d75b3-isnUo&pp=ygU...,20230527
1,jong,NNP,100000.0,2주 전,https://youtube.com/watch?v=d75b3-isnUo&pp=ygU...,20230527
2,won,VBD,100000.0,2주 전,https://youtube.com/watch?v=d75b3-isnUo&pp=ygU...,20230527
3,also,RB,100000.0,2주 전,https://youtube.com/watch?v=d75b3-isnUo&pp=ygU...,20230527
4,gave,VBD,100000.0,2주 전,https://youtube.com/watch?v=d75b3-isnUo&pp=ygU...,20230527
...,...,...,...,...,...,...
3290,wow,NNP,6600,2일 전,https://youtube.com/watch?v=WwNwGPtTRjI&pp=ygU...,20230527
3291,left,NNP,6600,2일 전,https://youtube.com/watch?v=WwNwGPtTRjI&pp=ygU...,20230527
3292,s,JJ,6600,2일 전,https://youtube.com/watch?v=WwNwGPtTRjI&pp=ygU...,20230527
3293,commiss,NN,6600,2일 전,https://youtube.com/watch?v=WwNwGPtTRjI&pp=ygU...,20230527
3294,busi,NN,6600,2일 전,https://youtube.com/watch?v=WwNwGPtTRjI&pp=ygU...,20230527

In [65]:
nn_df = essen_df[essen_df['part']=='NN']

In [66]:
nn_df

           word part                                               link
6        budget   NN  https://youtube.com/watch?v=d75b3-isnUo&pp=ygU...
7        market   NN  https://youtube.com/watch?v=d75b3-isnUo&pp=ygU...
9        street   NN  https://youtube.com/watch?v=d75b3-isnUo&pp=ygU...
12       situat   NN  https://youtube.com/watch?v=d75b3-isnUo&pp=ygU...
20       market   NN  https://youtube.com/watch?v=d75b3-isnUo&pp=ygU...
...         ...  ...                                                ...
3262       rice   NN  https://youtube.com/watch?v=_Jnn93BOKn0&pp=ygU...
3287    compens   NN  https://youtube.com/watch?v=WwNwGPtTRjI&pp=ygU...
3289  conscript   NN  https://youtube.com/watch?v=WwNwGPtTRjI&pp=ygU...
3293    commiss   NN  https://youtube.com/watch?v=WwNwGPtTRjI&pp=ygU...
3294       busi   NN  https://youtube.com/watch?v=WwNwGPtTRjI&pp=ygU...

[696 rows x 3 columns]

In [44]:
N_df.to_csv('WordDataFrame1.csv')

In [45]:
nWord = list(N_df['WORD'])

In [67]:
nnw = list(nn_df['word'])

In [47]:
# #중복제거1
# result1 = dict.fromkeys(nWord) # 리스트 값들을 key 로 변경
# undupl_word = list(result1) # list(dict.fromkeys(arr))
# len(undupl_word)

In [48]:
#중복제거2
word_set = set(nWord)
ndw_list = list(word_set)
len(ndw_list)

795

In [68]:
nnw_set = set(nnw)
nnw_list = list(nnw_set)
len(nnw_list)

220

In [49]:
word_count = []
for i in range(len(ndw_list)):
    word_count.append(len(N_df[N_df['WORD']==ndw_list[i]]))

In [71]:
nnw_c =[]
for j in range(len(nnw_list)):
    nnw_c.append(len(nn_df[nn_df['word']==nnw_list[j]]))

In [57]:
w_df = pd.DataFrame({'word':ndw_list, 'count':word_count})

In [51]:
w_df_s = w_df.sort_values('count', ascending=False)

In [52]:
len(w_df_s)

795

In [53]:
w_df_s.head(50)

        word  count
393      the    141
390     bank     87
533       of     84
264     rice     74
61         a     54
501     soup     50
652      won     49
646      you     49
728        s     47
89        in     41
573       to     39
785      fee     39
503      for     29
372    sunda     27
596       is     27
379        i     26
341     jong     25
626      new     25
238       if     24
366       it     23
407      get     22
747    short     21
103   korean     21
399     baek     21
433     year     20
767   street     19
516      and     18
471    korea     18
420     loan     17
19       thi     17
170     pork     17
664       at     16
704  benefit     16
312      aid     16
765      old     16
345   market     15
395     rate     14
462       kb     13
41      cash     13
489       do     13
381      not     13
125    peopl     13
687     have     13
545      000     12
362     make     12
292     onli     12
643     card     12
118  exchang     11
289       go     11
210    first     11

In [74]:
len(nnw_list)

220

In [76]:
len(nnw_c)

220

In [78]:
nnw_ndf = pd.DataFrame({'word':nnw_list, 'count':nnw_c})

In [82]:
nnw_ndf.sort_values('count', ascending=False).head(20)

         word  count
68       rice     64
102      soup     38
216      bank     36
211       fee     19
115       aid     16
138         s     15
156    market     14
181    street     13
219      rate     10
164      pork     10
19       food      9
37        won      9
180     money      8
32       cash      8
183  interest      8
79       time      7
38       year      7
160   commiss      7
26       card      7
176        tv      6