In [1]:
#TongBrown Modeling 동사

In [9]:
import pandas as pd
import os
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.tag import pos_tag
from nltk.stem import PorterStemmer

In [10]:
ps = PorterStemmer()

In [11]:
#csv파일 읽기
Main_df=pd.read_csv('C:/Users/effor/바탕 화면/통브라운/TongBrown/trans_df.csv')

In [12]:
Main_df.head()

,Unnamed: 0,title,view,u_date,link,e_date
0,0,translation subtitle system war cosmic impact ...,812,202305,https://youtube.com/watch?v=iucTJzOImI4&pp=ygU...,202305
1,1,How to send Satoshi to the lightning wallet th...,1.9천,202305,https://youtube.com/watch?v=c6N4JfRePrE&pp=ygU...,202305
2,2,Subprime mortgage crisis to see real estate cr...,262,202305,https://youtube.com/watch?v=BP-uycUPg4M&pp=ygU...,202305
3,3,Economy Prices and Bank Concerns Decline Alph...,963,202305,https://youtube.com/watch?v=4-NEnT9Km1I&pp=ygU...,202305
4,4,Fukushima Pollution Water Related Position Kim...,4.5천,202305,https://youtube.com/watch?v=_5a0i3pw4t0&pp=ygU...,202305

In [13]:
#열마다 추출
titles = list(Main_df['title'])
view = list(Main_df['view'])
u_date = list(Main_df['u_date'])
link = list(Main_df['link'])
e_date = list(Main_df['e_date'])

In [14]:
Word=[]
View=[]
U_date=[]
Link=[]
E_date=[]
Par=[]
i=0

for title in titles:
    tag_list = pos_tag(word_tokenize(title))
    for tl in tag_list:
        doc=tl[0]
        par=tl[1]
#         porter = [porter_stemmer.stem(i) for i in doc]
        por = ps.stem(doc)
        Word.append(por)
        Par.append(par)
        View.append(view[i])
        U_date.append(u_date[i])
        Link.append(link[i])
        E_date.append(e_date[i])
    i = i+1

In [15]:
essendic = {'word':Word, 'part':Par,'link':Link}

In [16]:
essen_df = pd.DataFrame(essendic)

In [17]:
essen_df

          word part                                               link
0     translat   NN  https://youtube.com/watch?v=iucTJzOImI4&pp=ygU...
1      subtitl   NN  https://youtube.com/watch?v=iucTJzOImI4&pp=ygU...
2       system   NN  https://youtube.com/watch?v=iucTJzOImI4&pp=ygU...
3          war   NN  https://youtube.com/watch?v=iucTJzOImI4&pp=ygU...
4       cosmic   JJ  https://youtube.com/watch?v=iucTJzOImI4&pp=ygU...
...        ...  ...                                                ...
7915        by   IN  https://youtube.com/watch?v=QZ855HyHWYw&pp=ygU...
7916        ai  NNP  https://youtube.com/watch?v=QZ855HyHWYw&pp=ygU...
7917       sat  NNP  https://youtube.com/watch?v=QZ855HyHWYw&pp=ygU...
7918       may  NNP  https://youtube.com/watch?v=QZ855HyHWYw&pp=ygU...
7919        20   CD  https://youtube.com/watch?v=QZ855HyHWYw&pp=ygU...

[7920 rows x 3 columns]

In [56]:
v_df=essen_df[essen_df['part'].str.contains('VB')]

In [57]:
v_df

           word part                                               link
9          send   VB  https://youtube.com/watch?v=c6N4JfRePrE&pp=ygU...
13       lightn  VBG  https://youtube.com/watch?v=c6N4JfRePrE&pp=ygU...
18         have  VBP  https://youtube.com/watch?v=c6N4JfRePrE&pp=ygU...
20       follow   VB  https://youtube.com/watch?v=c6N4JfRePrE&pp=ygU...
25          see   VB  https://youtube.com/watch?v=BP-uycUPg4M&pp=ygU...
...         ...  ...                                                ...
7863      close  VBG  https://youtube.com/watch?v=S558OCi3Fc4&pp=ygU...
7875     declin  VBZ  https://youtube.com/watch?v=S558OCi3Fc4&pp=ygU...
7881  broadcast  VBG  https://youtube.com/watch?v=S558OCi3Fc4&pp=ygU...
7885      locat  VBN  https://youtube.com/watch?v=cYz3SgHnSvU&pp=ygU...
7903     detach  VBD  https://youtube.com/watch?v=cYz3SgHnSvU&pp=ygU...

[917 rows x 3 columns]

In [60]:
vset = set(v_df['word'])
v_list = list(vset)
len(vlist)

306

In [62]:
v_c =[]
for i in range(len(v_list)):
    v_c.append(len(v_df[v_df['word']==v_list[i]]))

In [64]:
vw_df = pd.DataFrame({'word':v_list, 'count':v_c})

vw_dfs = vw_df.sort_values('count', ascending=False)

len(vw_dfs)

306

In [66]:
vw_dfs.head(20)

       word  count
60       is    118
148       s     50
294     won     37
131      do     23
37      get     19
154      be     19
155      go     18
245     are     16
62     have     16
166    know     16
254     use     11
70     come     10
190  invest      8
305      ha      8
4        wa      8
257    save      8
290     buy      8
265    make      7
167     pay      7
146    take      7

In [18]:
vb_df = essen_df[essen_df['part']=='VB']

In [19]:
vb_df

         word part                                               link
9        send   VB  https://youtube.com/watch?v=c6N4JfRePrE&pp=ygU...
20     follow   VB  https://youtube.com/watch?v=c6N4JfRePrE&pp=ygU...
25        see   VB  https://youtube.com/watch?v=BP-uycUPg4M&pp=ygU...
64    increas   VB  https://youtube.com/watch?v=Qmeouu8NUY8&pp=ygU...
77        run   VB  https://youtube.com/watch?v=UK_r3ezDjAg&pp=ygU...
...       ...  ...                                                ...
7677      get   VB  https://youtube.com/watch?v=bpYZf7j1OAA&pp=ygU...
7705     join   VB  https://youtube.com/watch?v=fXl5vapNdnI&pp=ygU...
7751  collect   VB  https://youtube.com/watch?v=oAOf9Jk9R2Q&pp=ygU...
7775   arrang   VB  https://youtube.com/watch?v=Gv8ubmoBmPU&pp=ygU...
7850     make   VB  https://youtube.com/watch?v=EETSFqNcmRE&pp=ygU...

[230 rows x 3 columns]

In [20]:
vbp_df = essen_df[essen_df['part']=='VBP']

In [21]:
vbp_df

         word part                                               link
18       have  VBP  https://youtube.com/watch?v=c6N4JfRePrE&pp=ygU...
75       want  VBP  https://youtube.com/watch?v=UK_r3ezDjAg&pp=ygU...
80        see  VBP  https://youtube.com/watch?v=UK_r3ezDjAg&pp=ygU...
123   bitcoin  VBP  https://youtube.com/watch?v=pTgVW19YbTE&pp=ygU...
401      walk  VBP  https://youtube.com/watch?v=TNgTEVUf4Jc&pp=ygU...
...       ...  ...                                                ...
7501     find  VBP  https://youtube.com/watch?v=f6iNJGEmeFY&pp=ygU...
7546     come  VBP  https://youtube.com/watch?v=JClQBKsPoqg&pp=ygU...
7669       do  VBP  https://youtube.com/watch?v=bpYZf7j1OAA&pp=ygU...
7798      end  VBP  https://youtube.com/watch?v=Gv8ubmoBmPU&pp=ygU...
7821     have  VBP  https://youtube.com/watch?v=UWbOGKKuMBU&pp=ygU...

[136 rows x 3 columns]

In [22]:
#중복제거
vb_set = set(vb_df['word'])
vb_list = list(vb_set)
len(vb_list)

107

In [24]:
#현재형 동사 정렬
vbp_set=set(vbp_df['word'])
vbp_list = list(vbp_set)
len(vbp_list)

60

In [25]:
vb_c =[]
for i in range(len(vb_list)):
    vb_c.append(len(vb_df[vb_df['word']==vb_list[i]]))

In [26]:
vbp_c =[]
for j in range(len(vbp_list)):
    vbp_c.append(len(vbp_df[vbp_df['word']==vbp_list[j]]))

In [27]:
vbw_df = pd.DataFrame({'word':vb_list, 'count':vb_c})

vbw_dfs = vbw_df.sort_values('count', ascending=False)

len(vbw_dfs)

107

In [28]:
vbpw_df = pd.DataFrame({'word':vbp_list, 'count':vbp_c})

vbpw_dfs = vbw_df.sort_values('count', ascending=False)

len(vbpw_dfs)

107

In [29]:
vbw_dfs

       word  count
59       be     19
15      get     14
61     know     12
58       go     10
104     buy      6
..      ...    ...
42    stand      1
41   cancel      1
39     stay      1
38     cost      1
106    surg      1

[107 rows x 2 columns]

In [67]:
vbpw_dfs.head(10)

     word  count
59     be     19
15    get     14
61   know     12
58     go     10
104   buy      6
94   make      5
53   take      4
27    let      4
25   have      4
52   sell      4